* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#root-container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #666;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

section {
    display: flex;
    flex-direction: row;
}

nav {
    /* flex-grow는 적용이 안된다. */
    flex: 3;
    height: 300px;
    padding: 20px;
    background-color: #ccc;
}

nav ul {
    list-style: none;
}

article {
    flex: 7;
    background-color: #f1f1f1;
    padding: 20px;
    height: 300px;
}

footer {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #777;
}